


  <div class="">
    <h2> {{currentSession.title}} </h2>
    <h3> {{currentSession.text}}</h3>
    <h5> Info: {{currentSession.text}} </h5>
    <h5> Lesson PLan: {{currentSession.lessonPlan}} </h5>
    <h5> Summary:  {{currentSession.sessionSummary}}{{message}}</h5>
    <!--<button (click)="newselectedsession()">send</button>-->
  </div>



