<mat-form-field class="demo-chip-list">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let skill of searchSkill" [selectable]="selectable"
              [removable]="removable" (remove)="remove(skill)">
      {{skill}}
      <mat-icon matChipRemove *ngIf="removable">x</mat-icon>
    </mat-chip>
    <input placeholder="Search Topics in Session"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)" />
  </mat-chip-list>
</mat-form-field>
