<mat-grid-list cols="8" rowHeight="25px">

  <mat-grid-tile *ngFor="let title of titleList"
                 [colspan]="title.cols" [rowspan]="title.rows" [style.background]="title.color">
    {{title.text}}
  </mat-grid-tile>


  <mat-grid-tile colspan="1" rowspan=5>
    1
  </mat-grid-tile>

  <mat-grid-tile *ngFor="let sessions of sessionList; let i = index;"
                 [colspan]="sessions.cols" [rowspan]="sessions.rows" [style.background]='sessions.color'>

    <div *ngIf="sessions.type=='day'">{{sessions.title}}</div>
    <div *ngIf="sessions.type=='session' || sessions.type=='dailytheme'" (click)="newSelectedSession(sessions)">
      {{sessions.title}}
    </div>
    <div *ngIf="sessions.type=='standup'" style="column-width: 25px">{{sessions.text}}</div>

  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan=5>
    2
  </mat-grid-tile>

  <mat-grid-tile *ngFor="let sessions of sessionList; let i = index;"
                 [colspan]="sessions.cols" [rowspan]="sessions.rows" [style.background]='sessions.color'>

    <div *ngIf="sessions.type=='day'">{{sessions.title}}</div>
    <div *ngIf="sessions.type=='session' || sessions.type=='dailytheme'" (click)="newSelectedSession(sessions)">
      {{sessions.title}}
    </div>
    <div *ngIf="sessions.type=='standup'" style="column-width: 25px">{{sessions.text}}</div>

  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan=5>
    3
  </mat-grid-tile>

  <mat-grid-tile *ngFor="let sessions of sessionList; let i = index;"
                 [colspan]="sessions.cols" [rowspan]="sessions.rows" [style.background]='sessions.color'>

    <div *ngIf="sessions.type=='day'">{{sessions.title}}</div>
    <div *ngIf="sessions.type=='session' || sessions.type=='dailytheme'" (click)="newSelectedSession(sessions)">
      {{sessions.title}}
    </div>
    <div *ngIf="sessions.type=='standup'" style="column-width: 25px">{{sessions.text}}</div>

  </mat-grid-tile>

</mat-grid-list>


 
 










