
<header>
  <h1>SW Academy</h1>
</header>

<div class="container">
  <div class="row">
    <div>
      <app-search-skill></app-search-skill>
    </div>
    <div class="col-xs-3">
      <mat-form-field>
        <mat-select placeholder="Team type">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xs-3">
      <mat-form-field>
        <mat-select placeholder="Role type">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xs-3">
      <mat-form-field placeholder="Topic type">
        <mat-select placeholder="Topic type">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-xs-1">

      <mat-list role="list">
        <mat-list-item role="listitem">Goal</mat-list-item>
        <mat-list-item role="listitem">Goal</mat-list-item>
        <mat-list-item role="listitem">Goal</mat-list-item>
      </mat-list>
    </div>
    <div class="col-xs-8" >
      <app-session-grid></app-session-grid>
    </div>
    <div class="col-xs-3">
      <app-session-info></app-session-info>
    </div>

  </div>
</div>
<div>
  <footer>Copyright &copy; swacademy.com</footer>
</div>

