div.container {
  width: 100%;
  border: 1px solid gray;
}

header, footer {
  padding: 1em;
  color: white;
  background-color: black;
  clear: left;
  text-align: center;
}

nav {
  float: right;
  max-width: 160px;
  margin: 0;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul a {
  text-decoration: none;
}

article {
  margin-right: 170px;
  border-right: 1px solid gray;
  padding: 1em;
  overflow: hidden;
}
